@model IEnumerable<OnlineMobileShop.Entity.Mobile>

@{
    ViewBag.Title = "DisplayDetails";
}
@Html.ActionLink("Add new details", "Create")
<h2>TempDisplayDetails</h2>

<head>
    <style>
        #table {
            border-spacing: 20px;
            padding: 15px;
        }
    </style>
</head>

<h2>MobileDetails</h2>
<table>
    <tr>
        <td>Brand </td>
        <td>Model </td>
        <td>Battery </td>
        <td>Price </td>
    </tr>
    @foreach (OnlineMobileShop.Entity.Mobile item in (List<OnlineMobileShop.Entity.Mobile>)TempData["mobile"])
    {
<tr>
    <td> @item.MobileID</td>
    <td> @item.Brand</td>
    <td>@item.Model</td>
    <td>@item.Battery</td>
    <td> @item.Price</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MobileID })
        @Html.ActionLink("Delete", "Delete", new { id = item.MobileID })
    </td>
</tr>
    }
</table>
